# TimeZone
TZ=Asia/Tokyo

# VoiceText API key
# Refer to https://cloud.voicetext.jp/webapi
VOICETEXT_API_KEY=XXXXXXXXXX

# Host IP address
WIRELESS_IP=XXX.XXX.XXX.XXX

# Google Home / Nest Name
GOOGLE_HOME_NAME=XXXXXXXXXX

# Google Home / Nest IP address
# GOOGLE_HOME_IP=XXX.XXX.XXX.XXX

# Your Firebase database URL
# FIREBASE_DATABASE_URL=https://XXXXXXXXXX.firebaseio.com

# Your Firebase service account key's path
# Don't change it.
FIREBASE_SECRET_KEY_PATH=/google-home-voicetext/serviceAccountKey.json

# Speaker type
VOICETEXT_SPEAKER=SHOW

# Mute API Server URL
MUTE_API_SERVER_URL=http://XXX.XXX.XXX.XXX:XXXX

# Mute Sound File
MUTE_SOUND_URL=http://XXX.XXX.XXX.XXX:XXXX/XXX.mp3
